/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-sethstha-slideshow {
	border: 1px dotted #f00;
}

.sethstha-slide {
	img {
		border-radius: 5px;
		height: 300px;
		object-fit: cover;
	}
}
