/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-sethstha-slideshow {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.sethstha-slider-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.sethstha-slides {
	display: flex;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}

.sethstha-slide {
	flex: 0 0 100%;
	width: 100%;
	overflow: hidden;
}

@media (min-width: 768px) {
	.sethstha-slide {
		width: 50%;
	}
}

@media (min-width: 1024px) {
	.sethstha-slide {
		width: 33.333%;
	}
}
